<mat-toolbar>Java to Typescript</mat-toolbar>

<div class="container">

  <mat-grid-list cols="12" rowHeight="60px">
    <mat-grid-tile
      [colspan]="5"
      [rowspan]="10">
      <div style="width: 90%">
        <label for="java-code">Your Java Class:</label>
        <div class="container-textarea">
          <textarea id="java-code" [(ngModel)]="javaClass"></textarea>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile
      [colspan]="2"
      [rowspan]="10">
      <button mat-raised-button
              class="btn-transpile"
              (click)="transpile()"
              color="primary">Transpile</button>
    </mat-grid-tile>

    <mat-grid-tile
      [colspan]="5"
      [rowspan]="10">

      <div style="width: 90%">
        <label for="ts-code">Result Typescript Class:</label>
        <div class="container-textarea">
          <textarea id="ts-code" [value]="tsClass"></textarea>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>


</div>
